# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# Local files produced 
*.html

# RStudio files
.Rproj.user/
*.Rproj

# produced vignettes
vignettes/*.html
vignettes/*.pdf
.Rproj.user
